@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --primary: #5C4033;
  --secondary: #8B7E66;
  --accent: #d4a56f;
  --text: #333333;
  --background: #cdd1deff;
  --link-default: #5C4033; /* Нейтральный коричневый */
  --link-hover: #755A46; /* Средний коричневый */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}
