@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/YourFontName.woff2") format("ttf"),
    url("../assets/fonts/YourFontName.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
