@font-face {
  font-family: "";
  src: url("../assets/fonts/YourFontName.woff2") format("woff2"),
    url("../assets/fonts/YourFontName.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
