@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --primary: #5c4033;
  --secondary: #8b7e66;
  --accent: #b89c7d;
  --text: #333333;
  --background: #f4f0e8;
  --background-accent: #faf5f0;
  --link-default: #5c4033;
  --link-hover: #755a46;
  --link-active: #967e76;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
input:placeholder,
sup,
sub,
em,
i,
strong,
b,
i {
  line-height: 1;
}

.heading-lg {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {
  .heading-lg {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .heading-lg {
    font-size: 3rem;
    line-height: 1;
  }
}

.heading-md {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .heading-md {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .heading-md {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .heading-md {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.link {
  color: var(--link-default); /* text-link-default */
  transition: color 0.15s ease-in-out; /* transition */
  text-decoration: none; /* Убираем подчеркивание для ссылок */
}

.link:hover {
  color: #755a46; /* hover:text-link-hover */
}

.link:active {
  color: #967e76; /* active:hover:text-link-active */
}

.field {
  border: 2px solid #5c4033; /* border-2 border-link-default border-solid */
  padding: 0.5rem 0.75rem; /* px-3 py-2 */
  border-radius: 0.375rem; /* rounded-md */
  background-color: #faf5f0; /* bg-background-accent */
  width: 100%; /* w-full */
  transition: border-color 0.15s ease-in-out; /* transition */
}

.field:focus {
  border-color: #755a46; /* focus:border-link-hover */
  outline: none; /* Убираем стандартное выделение */
}
