@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --primary: #5c4033;
  --secondary: #8b7e66;
  --accent: #b89c7d;
  --text: #333333;
  --background: #f4f0e8;
  --background-accent: #faf5f0;
  --link-light-default: #ffffff;
  --link-light-hover: #ffe6b3;
  --link-light-active: #ffd700;
  --link-dark-default: #5c4033;
  --link-dark-hover: #755a46;
  --link-dark-active: #967e76;
}

* {
  box-sizing: border-box;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
input:placeholder,
sup,
sub,
em,
i,
strong,
b,
i {
  line-height: 1;
}

.heading-lg {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {
  .heading-lg {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .heading-lg {
    font-size: 3rem;
    line-height: 1;
  }
}

.heading-md {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .heading-md {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .heading-md {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .heading-md {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.heading-md {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .heading-md {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .heading-md {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .heading-md {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.link {
  color: var(--link-light-default);
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}

.link:hover {
  color: var(--link-light-hover);
}

.link:active {
  color: var(--link-light-active);
}

.field {
  border: 2px solid var(--link-light-default);
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  background-color: #faf5f0;
  width: 100%;
  transition: all 0.15s ease-in-out;
  outline: none;
}

.field:focus {
  border-color: var(--link-light-active);
}

.btn {
  background: var(--link-dark-default);
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}

.btn:hover {
  background: var(--link-dark-hover);
}

.btn:active {
  background: var(--link-dark-active);
}
